/* * {
    box-sizing: border-box;
} */

body {
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container {
    box-shadow: -15px -15px 20px rgb(228, 228, 228),
        10px 10px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 37px;
    border-radius: 15px;
    margin: 60px 0px;

}

.container :first-child {
    text-align: center;

}

#balance {
    margin-top: -10px;
    margin-bottom: 50px;
}

.inc_exp {
    display: flex;
    box-shadow: -15px -15px 20px rgb(228, 228, 228),
        10px 10px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;

}

.inc_exp div {
    margin-left: 40px;
    margin-right: 40px;
}

.vertical {
    display: inline-block;
    border-left: 1px solid rgb(99, 97, 97);
    margin: 12px 10px;
    height: 75px;
}

#money-plus {
    color: green;
    font-weight: bold;
}
#money-minus {
    color: red;
    font-weight: bold;
    text-align: center;
}

.shoe{
    list-style-type: none ;
}

#list  li {  /* it is in JAVASCRIPT */
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 10px 0;
    border-radius: 3px;
    background-color: rgb(190, 188, 188);
    color: black;
    padding: 0px 0px 0px 8px;
}
 #list li.minus {         /* it is in JAVASCRIPT */
    border-left: 5px solid red;
}
 #list li.plus {            /* it is in JAVASCRIPT */
    border-left: 5px solid green;

}
li button {

    height: 20px;
    width: 20px;
   float: right;
    position: relative;
    top: 1px;
    border: none;
    background-color: rgb(252, 72, 72);
    color: #f7f7f7;
    border-radius: 3px;
 
}

form {
    margin: 20px 0px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(194, 194, 194);
}

input,
label {

    display: inline-block;
    vertical-align: baseline;
    width: 60px;
}

input {
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: 200px;
}

.btn {
    width: 300px;
    height: 40px;
    margin: 10px 0px -10px 0px;
    border: none;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    color: #f7f7f7;
    background-color: rgb(53, 53, 241);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn:hover {

    opacity: 0.9;
    color: #ffffff;
}